body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  height: 100vh;
  width: 95vw;
  margin: 0 auto;
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: 1fr 2fr 7fr;
  grid-gap: 10px;
  grid-template-areas: 
   'header header'
   'sidebar banner'
   'sidebar main'
   /* 'footer footer'; */
}

header {
  grid-area: header;
  background: grey;
}

footer {
  grid-area: footer;
  background: grey;
}

main {
  grid-area: main;
  background: grey;
}

#sidebar {
  grid-area: sidebar;
  background: grey;
}

.banner {
  grid-area: banner;
  background: lightgray;
}