body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Old Standard TT', serif;
  filter: sepia(11%);
}

.mainContainer {
  padding: 40px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* ============ grid-scheme =========*/
.App {
  display: grid;
  height: 90vh;
  width: 92vw;
  margin: 0 auto;
  grid-template-columns: 2fr 10fr;
  grid-auto-rows: 1fr 2fr 7fr;
  grid-gap: 10px;
  grid-template-areas: 
   'header header'
   'sidebar banner'
   'sidebar main'
   /* 'footer footer'; */
}

footer {
  grid-area: footer;
  background: grey;
}

main {
  grid-area: main;
  padding: 10px;
  overflow: scroll;
}

main::-webkit-scrollbar { width: 0 !important }

#sidebar {
  grid-area: sidebar;
}

.banner {
  grid-area: banner;
  background: lightgray;
  background-image: url('http://www.banneradsthatpay.com/img/adsthatpay_01.png');
  filter: sepia(60%);
  margin: 10px;
  border-right: 1px solid #000;
}
/* ============ grid-scheme =========*/


