/* paper effect/ */
.paper {
    background: #fff;
    /* padding: 30px; */
    position: relative;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    border: 1px solid #bbb;
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    height: 103%;
    width: 98%;
    background-color: #eee;
  }
  
  .paper::before {
    right: 28px;
    top: -10px;
    transform: rotate(-2deg);
    z-index: -1;
  }
  
  .paper::after {
    right: -5px;
    top: 5px;
    transform: rotate(1deg);
    z-index: -2;
  }