.postsWrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 8vw);
    grid-gap: 15px; 
}

.postsWrapper>div {
    display: block;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.postsWrapper>div .title {
    border-bottom: 1px solid #000;
    min-height: 60%;
} 

.post1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background: green;
}

.post2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background: bisque;
}

.post3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background: lightgoldenrodyellow;
}

.post4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    background: lightcyan;
}

.post5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background: lightgreen;
}

.post6 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background: lightcoral;
}

.post7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    background: lightslategray;
}

.post8 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    background: blueviolet;
} 